header{

    background-image: url('../img/pattern.png');
    background-size: auto;
    background-color: #0066ff;
    
    
}

h1{
    font-size: 50px;

}

span{
    font-size: 20px;
}


#scritto_da,#data{

    color: grey;
}


#writer{

    color: aqua;

}

img{
    margin-top: 20px;
}

p{
    font-size: 20px;
}

#frase{

    background-color: yellow;
}

ul{
    font-size: 20px;
}

#intestazione{

    background-color: deepskyblue;
    color: white;
}

.tabella{

background-color: lightblue;

}


