header{

    background-image: url('../img/pattern.png');
    background-size: auto;
    background-color: #0066ff;
    
    
}

span{
    font-size: 20px;
}


#scritto_da,#data{

    color: grey;
}


#writer{

    color: aqua;

}

img{
    margin-top: 20px;
}



